git+https://github.com/thu-ml/zhusuan.git
git+https://github.com/haowen-xu/tfsnippet.git@v0.2.0-alpha1

tensorflow==1.5

six >= 1.11.0

PyYAML

numpy

pandas

ipython

imageio

fs

scikit-learn

matplotlib

click

requests

lazy-object-proxy